name: Upload Python Package
    
on:
  release:
    types: [created]
    
jobs:
  deploy:
  
    environment: CI
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        passw: ${{ secrets.PASS }}
        user: ${{ secrets.USER }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/* -u ${user} -p ${passw}
